.margin-bottom-200 {
  margin-bottom: 20rem;
}

.margin-bottom-100 {
  margin-bottom: 10rem;
}

.margin-bottom-50 {
  margin-bottom: 5rem;
}

.navbar-logo {
  max-width: 150px;
  position: relative;
  bottom: 0.25rem;
}

.form-btn {
  margin-bottom: 0.5rem;
  margin-top: 1rem;
}

.form-auth {
  margin: 2rem 1rem;

}

.post-alert-success {
  margin-top: 1rem;
  margin-bottom: 0;
}

.form-group input,
textarea {
  margin-top: 0.5rem;
  margin-bottom: 2rem;
}

a.btn-post-list {
  margin-right: 1rem;
}

button.btn-post-list {
  border-radius: 50%;
  padding: 0.5rem 1rem;
}

.link-primary-hover {
  position: relative;
}

.link-primary-hover::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 2px;
  background-color: transparent;
  transition: background-color 0.2s;
}

.link-primary-hover:hover {
  color: #2b80ff !important;
  text-decoration: none;
}

.link-primary-hover:hover::before {
  background-color: #ffffff;
}


.navbar-logo {
  transition: transform 0.3s ease-in-out;
}

.navbar-logo:hover {
  transform: scale(1.1);
}

.button-container {
  display: flex;
}

.button-container a,
.button-container button {
  margin-right: 1rem;
}

.container-pagination {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  background-color: #212529;
  padding: 1rem;
  text-align: center;
}

.container-pagination .pagination.custom-pagination {
  display: inline-block;
}

.custom-pagination {
  position: relative;
  text-transform: uppercase;
  font-weight: bold;
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  padding-bottom: 1rem;
}

.pagination-btn {
  background-color: #2267ce !important;
  border-radius: 50%;
  padding: 0.5rem 1rem;
  margin: 0 0.5rem;
  text-decoration: none;
  color: white;
}

.pagination-btn.disabled {
  color: #1c4f9b !important;
}

.custom-pagination-num {
  background-color: #1a1a19 !important;
  border-radius: 50%;
  padding: 0.4rem 0.8rem;
  margin: 0 0.25rem;
  text-decoration: none;
  color: white;
}

.custom-pagination-num.active {
  background-color: #cacaca !important;
  color: #2267ce;
  font-weight: bold;
}

.pagination-info {
  position: relative;
  bottom: 0.5rem;
  color: white;

}